/*body {
background-color: #f9484a;
background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
}*/

body {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

h1 {
  color: #DD5555;
  font-family: Montserrat;
  font-weight: 600;
/*  font-variant: small-caps;*/
  letter-spacing: 1px;
}

h2 {
  color: #7E7E7E;
  font-family: Montserrat;
  font-weight: lighter;
}

h3 {
  color: #B2B2B2;
  font-family: Montserrat;
  font-weight: lighter;
}

p {
  color: #BABABA;
  font-family: OpenSans;
  font-weight: lighter;
}

a {
  color: #D2D2D2;
  text-decoration: none;
  font-family: OpenSans;
  font-weight: lighter;
}

.fab {
  font-size: 40px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0px;
  text-align: center;
}

#logo {
border-radius: 150px;
border: 4px solid #DD5555;
}

#title {
  font-weight: 100;
}

.text-center {
  text-align: center;
}

.button {
    background-color: #DD5555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

.button:hover {
  background-color: #DD1111;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.sociallinks {
  color: #D2D2D2;
  text-decoration: none;
  font-family: OpenSans;
  font-weight: lighter;
  font-size: small;

}

:hover{
  color: #DD5555
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

